{% extends 'base.html' %}

{% block content %}
<div class="container-lg mt-4">


    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <a href="{% url 'add-ads' %}">
                <button class="btn btn-primary mx-2" type="button">Создать</button>
            </a>
            <a href="{% url 'ads_list' 'all' %}">
                <button class="btn btn-primary mx-2" type="button">Все</button>
            </a>
            <a href="{% url 'ads_list' 'my' %}">
                <button class="btn btn-primary mx-2" type="button">Мои</button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            {% include 'advertisements/include/ads_list.html' %}
        </div>
    </div>
</div>
{% endblock %}
