{% extends 'base.html' %}
{% load ads_tags %}

{% block content %}

    <h1 id="title">Nikname</h1>




    <div class="choose_lesson ">
        <img id="avatar" src="\static\users\images\logo.png" alt="ava">
        <div class="lesson_info">
         <p id="description">descript</p>
        <div class="lesson_ads">
            <p>текущие объявление <button>назначить занятие</button></p>
        </div>
        </div>
    </div>
     {% include 'advertisements/include/ads_list.html'%}


{% endblock %}