{% extends 'base.html' %}


{% block content %}

    <h1 id="title">{{ advertisement.user.username }}</h1>

    <div class="choose_lesson ">
        <img id="avatar" src={{ avatar_url }} alt="ava">
        <div class="lesson_info">
        <div class="lesson_ads">
            <h3>Знает</h3>
            {% for skill in user_language_skills %}
                <p>{{ skill.language }} -  {{ skill.level_skill }}</p>
            {% endfor %}
            <h3>Изучает</h3>
            <p>{{ advertisement.language_to_learn }} {{ advertisement.language_level_to_learn }}
            <form method="POST">
              {% csrf_token %}
              <button type="submit" name="choose" value="{{ advertisement.id }}">Выбрать</button>
            </form>
        </div>
        </div>
    </div>
     {% include 'advertisements/include/ads_list.html'%}


{% endblock %}