<div class="content-list">
    {% for lang in user_language %}
        <div id="core">
            <p>{{ lang.language }} | {{ lang.level_skill }}</p>

            <div id="button-in-form">
            <a href="{% url 'update-skill' lang.id %}">
                <button type="button">Обновить</button>
            </a>
            <form method="POST">
                {% csrf_token %}
                <input type="hipen" name="delete_skill_id" value="{{ lang.id }}">
                <button type="submit">Удалить</button>
            </form>
            </div>

        </div>
    {% endfor %}
</div>