<h2>Языки</h2>
<ul>
    <li>
        <div id='core'>
            <p>язык уровень
                <button>обновить</button>
            </p>
        </div>
    </li>
    <li>
        <div id='core'>
            <p>язык уровень
                <button>обновить</button>
            </p>
        </div>
    </li>
    <li>
        <div id='core'>
            <p>язык уровень
                <button>обновить</button>
            </p>
        </div>
    </li>
    <li>
        <div id='core'>
            <p>язык уровень
                <button>обновить</button>
            </p>
        </div>
    </li>
</ul>
