{% extends 'base.html' %}

{% block content %}
    <h1 id="title">Профиль</h1>
    <div class="information">
        <img id="avatar" src="\static\users\images\logo.png" alt="ava">
        <ul>
            <li>user id</li>
            <li>user name</li>
            <li>email</li>
            <li>password <a href="#">change password</a></li>
        </ul>
    </div>

    <div class="add_language_skill">
    <select>
        {% for len in language %}
            <option>{{ len.1 }}</option>
        {% endfor %}
    </select><select>
        {% for lvl in level %}
            <option>{{ lvl.1 }}</option>
        {% endfor %}
    </select>
    <button>Добавить</button>
    </div>

    {% include 'users/include/lenguage_table.html' %}

    <div>
        <ul>
            {% for language_skill in language_skill %}
                <li>{{ language_skill }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}