{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 id="title">Профиль</h1>
    <div class="information">
        <img id="avatar" src="{% static 'users/images/logo.png' %}" alt="ava">
        <dl>
            <dt>ID пользователя:</dt>
            <dd>{{ user.id }}</dd>
            <dt>Имя пользователя:</dt>
            <dd>{{ user.username }}</dd>
            <dt>Email:</dt>
            <dd>{{ user.email }}</dd>
            <dt><a href="#">Сменить пароль</a></dt>
        </dl>
    </div>

    <div class="add_language_skill">
        <select>
            {% for len in language %}
                <option>{{ len.1 }}</option>
            {% endfor %}
        </select>
        <select>
            {% for lvl in level %}
                <option>{{ lvl.1 }}</option>
            {% endfor %}
        </select>
        <button>Добавить</button>
    </div>

    {% include 'users/include/table_of_user_languages_and_skills.html' %}

    <div>
        <ul>
            {% for language_skill in language_skill %}
                <li>{{ language_skill }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}