{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 id="title">Профиль</h1>
    <div class="information">
        <img id="avatar" src="{% static 'users/images/logo.png' %}" alt="ava">

        <dl>
            <dt>ID</dt>
            <dd>{{ user.id }}</dd>
            <dt>Имя</dt>
            <dd>{{ user.username }}</dd>
            <dt><a href="{% url 'password-change' %}">Сменить пароль</a></dt>
            <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Выйти</button>
            </form>
        </dl>
    </div>

    <div class="add_language_skill">
        <form method="POST" action="{% url 'create-skill' %}">
        {% csrf_token %}
        {{ form.language }}
        {{ form.level_skill }}
        <button>Добавить</button>
        </form>
    </div>

    {% include 'users/include/table_of_user_languages_and_skills.html' %}

    <div>
        <ul>
            {% for language_skill in language_skill %}
                <li>{{ language_skill }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}