.mh-350 {
    height: 350px;
    max-height: 350px;

/*=========================================================*/

/*profile*/

/*=========================================================*/
}
#avatar {
    max-height: 350px;
    width: auto;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


/*=========================================================*/

/*advertisement*/

/*=========================================================*/


#mini_avatar{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 10px;
}
