.mh-350 {
    height: 350px;
    max-height: 350px;
}

.content-block{
        background-color: white;
        border-radius: 10px;
        width: 780px;
        max-width: calc(100% - 20px);
        margin: 0 auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень */
        padding: 20px;
}
/*=========================================================*/

/*profile*/

/*=========================================================*/

#avatar {
    max-height: 350px;
    width: auto;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#avatar:hover {

}



/*=========================================================*/

/*advertisement*/

/*=========================================================*/


#mini_avatar{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 10px;
}
