{% load static %}
{% load get_menu_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'advertisements/css/ads.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'lessons/css/lesson.css' %}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'users/images/logo.png' %}" type="image/x-icon">
    <script src="/static/js/push_notification.js" defer></script>
    <title>{{ title }}</title>
</head>

<body>
{% get_menu as menu %}
<nav class="menu">
    <ul>
        <li id="logo"><a href="{% url "main" %}">
            <img src="\static\users\images\logo.png" alt="DialoGo">
        </a></li>
        {% for m in menu %}
            {% if m.title == 'Войти' and auth %}
                <li><a href="{% url 'user-profile' user.id %}">Профиль</a></li>
            {% elif m.title == 'Найти собеседника' %}
                <li><a href="{% url m.url_name 'all' %}">{{ m.title }}</a></li>
            {% else %}
                <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
<div id="notification-container" style="position: fixed; bottom: 10px; right: 10px; width: 300px; z-index: 1000;"></div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>