{% load static %}
{% load get_menu_tags %}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/static/style/style.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'users/images/logo.png' %}" type="image/x-icon">
    <script src="/static/js/push_notification.js" defer></script>
    <title>{{ title }}</title>
</head>

<body>
{% get_menu as menu %}
<nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid ms-5">
            <a href="#" class="navbar-brand">DialoGo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            arir-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse me-5" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        {% for m in menu %}
            {% if m.title == 'Войти' and auth %}
                <li class="nav-item me-1"><a class="nav-link" href="{% url 'user-profile' user.id %}">Профиль</a></li>
            {% elif m.title == 'Найти собеседника' %}
                <li class="nav-item me-1"><a class="nav-link" href="{% url m.url_name 'all' %}">{{ m.title }}</a></li>
            {% else %}
                <li class="nav-item me-1"><a class="nav-link" href="{% url m.url_name %}">{{ m.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
            </div>
    </div>
</nav>
<div id="notification-container"></div>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>