{% extends 'base.html' %}

{% block content %}
    <h1>Content lesson</h1>
    <div id="core">
     <p><a href="conference">userA | languageA | skillA | userB | languageB | skillB | time</a></p>
    </div>
    <div id="core">
     <p><a href="conference">userA | languageA | skillA | userB | languageB | skillB | time</a></p>
    </div>
    <div id="core">
     <p><a href="conference">userA | languageA | skillA | userB | languageB | skillB | time</a></p>
    </div>
    <div id="core">
     <p><a href="conference">userA | languageA | skillA | userB | languageB | skillB | time</a></p>
    </div>


{% endblock %}
