body {
    background: #edeef5;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Comic Sans MS", serif;
}


h2 {
    font-size: 26px;
    font-weight: bolder;
}

h1 {
    font-size: 30px;
    font-weight: bolder;
}

select {
    font-family: "Comic Sans MS", serif;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
    padding: 10px;
    background-color:  #53B3FF;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-family: "Comic Sans MS", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


button:hover {
    background-color:  blue;
}

button:active {
    box-shadow: none;
}

ul {
    list-style-type: none;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* стили меню */

.menu {
    background:  #53B3F0;
}
.menu ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10%;
        padding-left: 10%;
        margin: 0;
}

.menu ul li {
    margin-left: 20px;

}

.menu ul li a{
    color:  #e4d7c5;
    font-size: 20px;
    font-family: "Comic Sans MS", serif;
    font-weight: bolder;
    text-decoration: none;
}

.menu ul li a:hover{
    color: #ffffff;
}

#logo {
    margin-right: auto;
}

#logo img{
    width: 50px;
    height: 50px;
}


#title {
    text-align: center;
}

/* стили профиля */

.information{
    display: flex;
    align-items: center;
}


#avatar {
    margin-left: 20px;
    width: 300px;
    height: 300px;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.information dl {
    margin-left: 150px;
}

.information dl dt {
    font-weight: bold;
    margin-bottom: 5px;
}

.information dl dd {
    margin-left: 0;
    margin-bottom: 15px;
}


.content-list {
    width: 100%;
}

.content-list a {
    color:  #4c3060;
    font-size: 16px;
    font-family: "Comic Sans MS", serif;
    text-decoration: none;
}

.content-list a:hover {
    color: brown;
}

#core {
    display: flex;
    align-items: center;
    padding-left: 15px;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-top: 10px;
}

#button-in-form {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 15px;
    margin-left: auto;
}
#button-in-form a,
#button-in-form form {
    margin: 0;
}





/*авторизация*/

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center ;
}

.login {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

.login form div {
    margin-bottom: 15px;
}

.login form label {
    margin-bottom: 5px;
}

.login form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.login a {
    display: block;
    margin-top: 15px;
    color: #53B3FF;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}
